a{
	TEXT-DECORATION:none
}
#body_top{
	width:100%;
	margin:0 auto;
	font-family:"LiSu";
}
#top{
	position:relative;
	float:left;
	height:40px;
	width:100%;
	background-color:black;
}
.top_left{
	position:relative;
	float:left;
	height:40px;
	width:30px;
	
}
.item1{
	position:relative;
	float:left;
	height:40px;
	width:5%;
	color:#F00;
	text-align:center;
	line-height:40px;
	display:block;
}
.item1 a{
	color:#FFF;
}
.item1:hover{
	background-color:green;
}

.item2{
	position:relative;
	float:right;
	height:40px;
	width:7%;
	text-align:center;
	line-height:40px;
	display:block;
}
.item2 a{
	color:#FFF;
}
.item2:hover{
	background-color:green;
}
#logo{
	position:relative;
	float:left;
	height:100px;
	width:100%;
	background-color:#FFFFFF;
}
#logo1{
	position:relative;
	float:left;
	width:100px;
	height:100px;
	background: url("/img/logo.jpg");
	background-size:100% 100%;
	
}
