#body{
	width:100%;
	height:900px;
	float:left;
}
.body_items{
	float:left;
	width:100%;
	margin-top:10px;
	background:#AFEDB2;
}
.body_items:hover{
	background:#95DB98;
}
.body_items_pic{
	float:left;
	width:150px;
	height:150px;
	padding:8px;
}
.body_items_pic img{
	float:left;
	width:100%;
	height:100%;

}
.body_items_content{
	float:left;
	width:600px;
	height:150px;
	padding:8px;
}
.body_items_content table{
	width:100%;
}
